i, .icon{
    @each $color, $value in $theme-colors {
         &-color-#{$color} {
             color: $value;
             &.fill{
                padding: 0.5em;
                background: rgba($value,0.3);
                border-radius: .8em;
            }

            &.outline{
                padding: 0.5em;
                border: 1px $value solid;
                border-radius: .8em;
            }

            &.round{
                border-radius: 50% !important;
            }
        }
    }
    & + *{
        margin-left: 0.5em;
    }
}