.table{
    thead{
        border-bottom: 1px $secondary solid !important;
        border-top: 1px $secondary solid !important;
        border-left: 0 !important;
        border-right: 0 !important;
        th{
            color: $primary;
            border: 0 !important;
        }
    }
    tbody{
        tr{
            border-bottom: 1px $secondary solid !important;
            border-top: 1px $secondary solid !important;
            border-left: 0 !important;
            border-right: 0 !important;
            td{
                color: $primary;
                border: 0 !important;
            }
        }
    }
}