body {
    font-family: $font-primary !important;
    color: $primary;
    font-weight: 400 !important;
    font-size: 1rem !important;
}
  
h1, h2, h3, h4, h5, h6 {
    color: $primary;
    font-weight: 800 !important;
}
  
span, a {
    color: $primary;
}
  
p {
    font-family: $font-secondary !important;
}
  
.font-primary {
    font-family: $font-primary !important;
}
  
.font-secondary {
    font-family: $font-secondary !important;
}
  
.underline {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 143 5' preserveAspectRatio='none'%3E%3Cpath stroke='%23202677' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke-width='3' d='M2,3.10805236 C16.7270144,2.55468328 31.4466455,2.71698891 46.1904884,2.4891529 C77.8182769,2.00040994 101.26734,2.00040994 140.579345,2.4891529'/%3E%3C/svg%3E");
    background-position: bottom;
    background-size: 100% .125em;
    background-repeat: no-repeat;
    text-decoration: none;
    text-transform: none;
    font-weight: inherit;
    font-style: normal;
}

  
.highlight {
    border-radius: 1em .25em 1em .25em;
    background-image: linear-gradient(90deg, rgba($primary, 0.1), rgba($primary, 0.5) 40%, rgba($primary, 0.35) 85%, rgba($primary, 0.15));
    font-style: normal;

    &-primary {
        border-radius: 1em .25em 1em .25em;
        background-image: linear-gradient(90deg, rgba($primary, 0.25), rgba($primary, 0.7) 30%, rgba($primary, 0.5) 95%, rgba($primary, 0.2));
    }
}
  
.font-weight-300 {
    font-weight: 300 !important;
}
  
.font-weight-400 {
    font-weight: 400 !important;
}
  
.font-weight-500 {
    font-weight: 500 !important;
}
  
.font-weight-600 {
    font-weight: 600 !important;
}
  
.font-weight-700 {
    font-weight: 700 !important;
}
  
.font-weight-800 {
    font-weight: 800 !important;
}
  
.font-weight-900 {
    font-weight: 900 !important;
}
  
.h1 {
    font-size: 5vw !important;
    @include breakpoint(xs){
        font-size: 15vw !important;
    }
}

.h2 {
    font-size: 4vw !important;
    @include breakpoint(xs){
        font-size: 10vw !important;
    }
}

.h3 {
    font-size: 3vw !important;
    @include breakpoint(xs){
        font-size: 8vw !important;
    }
}

.h4 {
    font-size: 2.5vw !important;
    @include breakpoint(xs){
        font-size: 6.5vw !important;
    }
}

.h5 {
    font-size: 2vw !important;
    @include breakpoint(xs){
        font-size: 5vw !important;
    }
}

.h6 {
    font-size: 1rem !important;
}